* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

:root {
    --main-color: #FB2E86;
    --nav-color: #0D0E43;
    --main-font: "Lato", sans-serif;
    --secondary-font: "Josefin Sans", sans-serif;
    --secondary-color: #151875;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #1A0B5B;
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.contanier {
    width: 80%;
    margin: auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: fixed;
    padding: 30px;
    background-color: #00000000;
    width: 100%;
    top: 0;
    z-index: 1;
}



.header .contanier .row .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header .contanier .row .list ul li a {
    color: var(--nav-color);
    font-family: var(--main-font);
    font-size: 20px;
}

.header .contanier .row .list ul li .active {
    color: var(--main-color);
}

.header .contanier .row .search input,
.header .contanier .row .search button {
    border: none;
    outline: none;
}

.header .contanier .search {
    border: 1px solid #0000001c;
    display: flex;
}

.header .contanier .search button {
    padding: 0px 15px;
    background-color: var(--main-color);
    cursor: pointer;
}

.header .contanier .row .menu {
    display: none;
}

@media screen and (max-width: 1080px) {

    .header .contanier .row .list ul {
        display: none;
    }

    .header .contanier .row .search {
        display: none;
    }

    .header .contanier .row .menu {
        display: block;
    }
}

@media screen and (max-width : 1050px) {
    .header .contanier .row .list ul {
        display: none;
    }

    .header .contanier .row .search {
        display: none;
    }

    .header .contanier .row .menu {
        display: block;
    }
}

.hero {
    padding: 30px;
    background-color: #F2F0FF;
    margin-top: 100px;
}

.hero .contanier .row .left-side {
    width: calc(80% / 2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .contanier .row .left-side span {
    color: var(--main-color);
    font-family: var(--main-font);
}

.hero .contanier .row .left-side h3 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 50px;
}

.hero .contanier .row .left-side p {
    color: #8A8FB9;
}

.hero .contanier .row .left-side button {
    width: fit-content;
    padding: 5px 20px;
    color: white;
    background-color: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.hero .contanier .row .right-side .img img {
    max-width: 100%;
    background-image: url(./image/product/backhero.png);
}

.hero .contanier .row .right-side .img {
    position: relative;
}

.hero .contanier .right-side .img::after {
    content: "50% off";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00C1FE;
    color: white;
    font-size: 26px;
    font-family: var(--secondary-font);
    font-weight: bold;
    position: absolute;
    top: 35px;
    right: 10px;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .hero .contanier .left-side {
        display: flex;
        flex: 1;
    }

}

@media screen and (max-width:425px) {
    .hero .contanier .right-side {
        margin-top: 20px;
    }

    .hero .contanier .right-side .img::after {
        width: 50px;
        height: 50px;
        font-size: 15px;
        top: 0px;
        right: -20px;
    }
}

@media screen and (max-width:1370px) {
    .hero .contanier .left-side {
        display: flex;
        flex: 1;
    }

}

.featured-product {
    padding: 30px;
    text-align: center;
}

.featured-product .contanier .row .product {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    width: calc((100% - 60px) /4);
    position: relative;
    transition: all 0.8s;
}

.featured-product .contanier .row .product .img {
    background-color: #F6F7FB;
    height: 238px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-product .contanier .row .product .info h2 {
    font-size: 20px;
    margin-top: 10px;
    color: var(--main-color);
    font-family: var(--main-font);
}

.featured-product .contanier .row .product .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.featured-product .contanier .row .product .info .colors button {
    width: 30px;
    height: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.featured-product .contanier .row .product .info .colors .color-one {
    background-color: #05E6B7;
}

.featured-product .contanier .row .product .info .colors .color-two {
    background-color: #F701A8;
}

.featured-product .contanier .row .product .info .colors .color-three {
    background-color: #00009D;
}


.featured-product .contanier .row .product .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin-bottom: 10px;
}

.featured-product .contanier .row .product .icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15px;
    top: 20px;
    gap: 15px;
    cursor: pointer;
}

.featured-product .contanier .row .product .icons img {
    display: none;
}

.featured-product .contanier .row .product .view button {
    position: absolute;
    bottom: 140px;
    left: 100px;
    padding: 5px 30px;
    background-color: #08D15F;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.featured-product .contanier .row .product .view button a {
    color: white;
}

.featured-product .contanier .row .product:hover .view button,
.featured-product .contanier .row .product:hover .icons img {
    display: block;
}

.featured-product .contanier .row .product:hover .info {
    background-color: #2F1AC4;
}

.featured-product .contanier .row .product:hover .info h2,
/*شو السبب انو ال btn الثالث ما اتغير لونو؟*/
.featured-product .contanier .row .product:hover .colors .color-three,
.featured-product .contanier .row .product:hover .info .details {
    color: white;
}

@media screen and (max-width: 600px) {
    .featured-product .contanier .row .product {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .featured-product .contanier .row .product {
        width: calc((100% - 20px) /2);
    }
}

@media (min-width: 950px) and (max-width: 1330px) {
    .featured-product .contanier .row .product {
        width: calc((100% - 40px) /3);
    }

    .featured-product .contanier .row .grow {
        flex-grow: 1;
    }
}

@media (min-width: 1331px) and (max-width: 2550px) {
    .featured-product .contanier .row .product {
        width: calc((100% - 60px) /4);
    }
}

.Leatest-products {
    padding: 30px;
    text-align: center;
}

.Leatest-products .contanier .row .lists {
    width: 100%;
    margin: 30px 0px;
}

.Leatest-products .contanier .row .lists ul {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--main-font);
    justify-content: space-evenly;
    font-size: 20px;
}

.Leatest-products .contanier .row .lists ul li a {
    color: var(--secondary-color);
}

.Leatest-products .contanier .row .lists ul li .active {
    color: var(--main-color);
}

.Leatest-products .contanier .row .product .img {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 270px;
}

.Leatest-products .contanier .row .product .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}


.Leatest-products .contanier .row .product-two .img {
    background-color: white;
}

.Leatest-products .contanier .row .product .img img {
    max-width: 100%;
}


.Leatest-products .contanier .row .product .details .old-price {
    color: #FB2448;
    text-decoration: line-through;
}

.Leatest-products .contanier .row .product {
    width: calc((100% - 40px) /3);
    position: relative;
}

.Leatest-products .contanier .row .product .sale {
    position: absolute;
    display: none;
}

.Leatest-products .contanier .row .product .icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 45px;
    left: 10px;
    gap: 15px;
    cursor: pointer;
}

.Leatest-products .contanier .row .product .icons img {
    display: none;
}

.Leatest-products .contanier .row .product:hover .sale,
.Leatest-products .contanier .row .product:hover .icons img {
    display: block;
}

@media screen and (max-width: 600px) {
    .Leatest-products .contanier .row .product {
        width: 100%;
    }

    .Leatest-products .contanier .row .lists ul {
        flex-direction: column;
        gap: 15px;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .Leatest-products .contanier .row .product {
        width: calc((100% - 20px) /2);
    }

    .Leatest-products .contanier .row .lists ul {
        gap: 13px;
    }

    .Leatest-products .contanier .row .product .details {
        margin-bottom: 10px;
    }
}

.support {
    padding: 30px;
    text-align: center;
    background-color: #f6f7fb8a;
}

.support h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.support .contanier .row .item {
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    padding: 20px;
    width: calc((100% - 15px) /2);
}

.support .contanier .row .item .img {
    height: 69px;
    display: flex;
    align-items: center;
}

/*الصورة ما بتتمدد مع كل الشاشات */
.support .contanier .row .item .img img {
    max-width: 100%;
}

.support .contanier .row .item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    padding: 0px 15px;
}

.support .contanier .row .item .info h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.support .contanier .row .item .info p {
    color: #1a0b5b7d;
}

@media screen and (max-width: 600px) {
    .support .contanier .row .item {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .support .contanier .row .item {
        width: calc((100% - 20px) /2);
    }
}

@media (min-width: 950px) and (max-width: 1330px) {
    .support .contanier .row .item {
        width: calc((100% - 40px) /3);
    }

    .support .contanier .row .grow {
        flex-grow: 1;
    }
}

@media (min-width: 1331px) and (max-width: 2550px) {
    .support .contanier .row .item {
        width: calc((100% - 60px) /4);
    }
}

.trending-products {
    padding: 30px;
    text-align: center;
}

.trending-products h2 {
    font-size: 32px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.trending-products .contanier .row .product {
    width: calc((100% - 60px) /4);
}

.trending-products .contanier .row .product .img {
    background-color: #F6F7FB;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
}

.trending-products .contanier .row .product .img img {
    max-width: 100%;
}

.trending-products .contanier .row .product .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    color: var(--secondary-color);
    font-family: var(--main-font);
}

.trending-products .contanier .row .product .info .price {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.trending-products .contanier .row .product .info .price .old-price {
    text-decoration: line-through;
    color: #00000040;
}

@media screen and (max-width: 600px) {
    .trending-products .contanier .row .product {
        width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .trending-products .contanier .row .product {
        width: calc((100% - 20px) /2);
    }
}

@media (min-width: 950px) and (max-width: 1330px) {
    .trending-products .contanier .row .product {
        width: calc((100% - 40px) /3);
    }

    .trending-products .contanier .row .grow {
        flex-grow: 1;
        margin-top: 20px;
    }
}

@media (min-width: 1331px) and (max-width: 2550px) {
    .trending-products .contanier .row .product {
        width: calc((100% - 60px) /4);
    }
}

.top-categories {
    padding: 30px;
    text-align: center;
}

.top-categories h2 {
    font-size: 32px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.top-categories .contanier .row .product {
    width: calc((100% - 60px) /4);
    position: relative;
}

.top-categories .contanier .row .product .img {
    background-color: #F6F7FB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 270px;
}

.top-categories .contanier .row .product .img img {
    max-width: 100%;
}

.top-categories .contanier .row .product .info {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.top-categories .contanier .row .product .view button {
    position: absolute;
    bottom: 75px;
    left: 80px;
    padding: 5px 30px;
    background-color: #08D15F;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}

.top-categories .contanier .row .product .view button a {
    color: white;
}

.top-categories .contanier .row .product::before {
    content: "";
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: #9877E7;
    position: absolute;
    z-index: -1;
    right: 40px;
    top: 5px;
    opacity: 0;
}

.top-categories .contanier .row .product:hover::before,
.top-categories .contanier .row .product:hover .view button {
    opacity: 1;
    display: block;
}

@media screen and (max-width: 600px) {
    .top-categories .contanier .row .product {
        width: 100%;
    }

    .top-categories .contanier .row .product .info {
        margin-bottom: 10px;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .top-categories .contanier .row .product {
        width: calc((100% - 20px) /2);
        margin-bottom: 10px;
    }
}

@media (min-width: 950px) and (max-width: 1330px) {
    .top-categories .contanier .row .product {
        width: calc((100% - 40px) /3);
        margin-bottom: 10px;
    }

    .top-categories .contanier .row .grow {
        flex-grow: 1;
    }
}

@media (min-width: 1331px) and (max-width: 2550px) {
    .top-categories .contanier .row .product {
        width: calc((100% - 60px) /4);
    }
}

.newslater {
    background-image: url(./image/product/background.png);
    background-size: contain;
    background-attachment: fixed;
    padding: 30px;
    height: 100vh;
    position: relative;

}

.newslater .contanier .row .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*ما زبطت معي بالميديا ؟؟*/
.newslater h2 {
    font-size: 32px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-top: 20px;
}

.newslater .contanier .row .info button {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.leatest-blog {
    padding: 30px;
}

.leatest-blog h2 {
    text-align: center;
    font-size: 32px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin-bottom: 20px;
}

.leatest-blog .contanier .row .item {
    width: calc((100% - 40px) /3);
}

.leatest-blog .contanier .row .item .img img {
    width: 100%;
}

.leatest-blog .contanier .row .item .info {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.leatest-blog .contanier .row .item .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.leatest-blog .contanier .row .item .details p {
    color: #72718F;
}

.leatest-blog .contanier .row .item .details a {
    color: var(--secondary-color);
    text-decoration: underline;
}

.leatest-blog .contanier .row .item-two .details h3,
.leatest-blog .contanier .row .item-two .details a {
    color: var(--main-color);
}

@media screen and (max-width: 600px) {
    .leatest-blog .contanier .row .item {
        width: 100%;
        margin-bottom: 20px;
    }

    .leatest-blog .contanier .row .item .info {
        gap: 3px;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    .leatest-blog .contanier .row .item {
        width: calc((100% - 20px) /2);
        margin-bottom: 20px;
    }

    .leatest-blog .contanier .row .grow {
        flex-grow: 1;
    }
}

@media (min-width: 950px) and (max-width: 2550px) {
    .leatest-blog .contanier .row .item {
        width: calc((100% - 40px) /3);
        margin-bottom: 20px;
    }
}

.footer {
    background-color: #EEEFFB;
    padding: 30px;
}

.footer .contanier .row .left-side {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer .contanier .row .left-side .search {
    border: 1px solid #00000029;
    width: fit-content;
}

.footer .contanier .row .left-side .search input,
.footer .contanier .row .left-side .search button {
    border: none;
    outline: none;
    padding: 5px;
}

.footer .contanier .row .left-side .search button {
    background-color: var(--main-color);
    color: white;
}

.footer .contanier .row .left-side .contact {
    color: #8A8FB9;
}

.footer .contanier .row .right-side {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 30px;

}

.footer .contanier .row .right-side .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.footer .contanier .row .right-side h3 {
    font-family: var(--secondary-font);
    color: #000000e0;
    font-size: 20px;
}

.footer .contanier .row .right-side .links a {
    color: #8A8FB9;
}

@media screen and (max-width : 510px) {
    .footer .contanier .row .right-side {
        flex-direction: column;
        margin-top: 30px;
        margin-left: auto;
        gap: 20px;
    }

    .footer .contanier .row .left-side .search {
        display: flex;
    }
}

@media (min-width: 511px) and (max-width: 1171px) {
    .footer .contanier .row .right-side {
        margin-top: 30px;
    }
}