* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 6000px;
    background-color: rgba(214, 214, 214, 0);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.contanier {
 width: 80%;
 margin: 0 auto;
}
:root {
    text-transform: capitalize;
    --nav-color : #0D0E43;
    --text-primary : #FB2E86;

}
.header {
    margin-top: 20px;
    position: fixed;
    width: 100%;
}
.header .contanier {
    display: flex;
    justify-content: space-between;
}
.header .contanier .list ul {
    display: flex;
    gap: 30px;
    transition: all 0.6s ease;
}
.header .contanier .list ul .active {
    color: var(--text-primary);
}
.header .contanier .list ul li a {
    color: var(--nav-color);
}
.header .contanier .list ul :hover {
    background-color: blue;
    color: white;
    transform: scale(1.1);
}
.header .contanier .search input,button {
     border: 0;
     outline: 0;
}
.header .contanier .search button {
      padding: 0px 10px;
      background-color: var(--text-primary);
}
.header .contanier .search {
    border: 1px solid rgb(177, 177, 177);
    display: flex;
}