* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 6000px; 
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.contanier {
 width: 80%;
 margin: 0 auto;
}
:root {
    text-transform: capitalize;
    --nav-color : #0D0E43;
    --text-primary : #FB2E86;
    --Basic-font: "Lato", sans-serif;
    --secondary-font : "Josefin Sans", sans-serif;

}
.header {
    margin-top: 20px;
    position: fixed;
    width: 100%;
}
.header .contanier {
    display: flex;
    justify-content: space-between;
}
.header .contanier .list ul {
    display: flex;
    gap: 30px;
    transition: all 0.6s ease;
}
.header .contanier .list ul .active {
    color: var(--text-primary);
}
.header .contanier .list ul li a {
    color: var(--nav-color);
    font-family: var(--Basic-font);
}
.header .contanier .list ul :hover {
    background-color: blue;
    color: white;
    transform: scale(1.1);
}
.header .contanier .search input,button {
     border: 0;
     outline: 0;
}
.header .contanier .search button {
      padding: 0px 10px;
      background-color: var(--text-primary);
}
.header .contanier .search {
    border: 1px solid rgb(177, 177, 177);
    display: flex;
}
@media screen and (max-width:800px) { 
    .header {
        background-color: #FB2E86;
    }
    
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #EEEFFB;
    padding: 30px 0px;
}
.footer .contanier .left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .contanier .left-side .search input{
    outline: 0;
    border: 0;
    padding: 5px;
}
.footer .contanier .left-side .search {
    border: 1px solid #cbcbcb;
    width: fit-content;
    background-color: white;
}
.footer .contanier .left-side .search button {
    background-color: var(--text-primary);
    color: white;
    padding: 5px;
}
.footer .contanier .left-side .contact {
    color: #8A8FB9;
}
.footer .contanier .right-side{
    display: flex;
    gap: 30px;
}
.footer .contanier {
    display: flex;
    justify-content: space-between;
}
.catagories .links,.customer-care .links,.pages .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer .contanier .right-side h3 {
    margin-bottom: 30px;
    color: black;
    font-family: var(--secondary-font);
}
.footer .contanier .right-side .catagories,.customer-care,.pages {
    padding: 0px 30px;
}
.footer .contanier .right-side a {
    color: #8A8FB9;
}