* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
:root {
    --main-color : #FB2E86;
    --nav-color : #0D0E43;
    --main-font : "Lato", sans-serif;
    --secondary-font : "Josefin Sans", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.contanier {
    width: 80%;
    margin: 0 auto;
}
.header {
    position: fixed;
    padding: 30px;
    background-color: #8A8FB9;
    width: 100%;
    top: 0;
}
.header .contanier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.header .contanier .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;   
}
.header .contanier .list ul li a {
    color: var(--nav-color);
}
.header .contanier .list ul .active {
    color: var(--main-color);
} 
.header .contanier .search input,
.header .contanier .search  button {
    border: none;
    outline: none;
}
.header .contanier .search{
    border: 1px solid #0000001c;
    display: flex;
}
.header .contanier .search button {
    padding: 0px 15px;
    background-color: var(--main-color);
}
.header .contanier .menu{
    display: none;
}
@media screen and (max-width : 1050px) {
    .header .contanier .list ul {
        display: none;
    }
    .header .contanier .search {
        display: none;
    }
    .header .contanier .menu{
        display: block;
    }
}
.footer {
    width: 100%;
    background-color: #EEEFFB;
    padding: 30px;
    margin-top: 650px;
}
.footer .contanier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .contanier .left-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
}
.footer .contanier .left-side .search  {
    border: 1px solid #00000029;
    width: fit-content;
}
.footer .contanier .left-side .search input,
.footer .contanier .left-side .search button {
        border: none;
        outline: none; 
        padding: 5px;
    }
.footer .contanier .left-side .search button {
    background-color: var(--main-color);
    color: white;
}
.footer .contanier .left-side .contact {
    color: #8A8FB9;
}
.footer .contanier .right-side {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    margin-left: 50px;
}
.footer .contanier .right-side .links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.footer .contanier .right-side h3 {
    font-family: var(--secondary-font);
    color: black;
}
.footer .contanier .right-side .links a {
    color: #8A8FB9;
}
@media screen and (max-width : 390px) {
    .footer .contanier .left-side .search {
        display: flex;
    }
}
@media screen and (max-width : 768px) {
    .footer .contanier .right-side {
        gap: 30px;
    }
}
@media screen and (max-width : 1024px) {
    .footer .contanier .right-side {
        gap: 30px;
    }
}
